/* src/Login.css */
.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.error-message {
    color: red;
    font-size: 0.9em;
    text-align: center;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Justering av knapparnas stil */
button {
    width: 100%;  /* Sätt båda knapparna till full bredd */
    padding: 10px;
    font-size: 1em;
    color: white;
    background-color: #61dafb;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; /* Mellanrum mellan knapparna */
}

button:hover {
    background-color: #21a1f1;
}

/* För submit-knappen */
button[type="submit"] {
    margin-bottom: 15px;
}

/* För skapa konto-knappen */
.full-width {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Mellanrum mellan knapparna */
}
